.addFavSweets {
  padding-bottom: 0.5rem;
  text-align: center;
  background-color: rgb(84, 84, 84);
}
.favsweets {
  width: 90%;
}
.wcdDTPic {
  display: none;
}
.introCont {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
.intro {
  font-size: 0.8rem;
}
.addProduct {
  text-align: center;
  align-self: center;
  margin-top: -4.3rem;
  background: rgb(84, 84, 84);
  background: linear-gradient(
    0deg,
    rgba(84, 84, 84, 1) 0%,
    rgba(255, 255, 255, 1) 50%
  );
}
.addbtnpic {
  width: 4rem;
  z-index: 2;
}

li {
  list-style-type: none;
}
.listCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;

  background-color: rgb(217, 218, 218);
}
.listitem {
  background-color: white;
  margin: 0.2rem;
}
.cell {
  border: 0;
  max-height: 100vh;
}
.infoCont {
  display: grid;
  grid-template-rows: 2fr 1fr;
  margin: 0.5rem;
  align-self: right;
  justify-self: center;
}
.photoCont {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  padding-top: 0.2rem;
}
.photos {
  max-height: 5rem;

  text-align: center;
  padding-top: 1rem;
}
.name {
  font-size: 0.8rem;
  font-weight: bold;
}
.price {
  font-size: 0.8rem;
}
.country {
  font-size: 0.8rem;
}

@media only screen and (min-width: 25rem) {
  .addProduct {
    text-align: center;
    margin-top: -5.3rem;
    background: none;
    padding-bottom: 0.2rem;
  }
  .addbtnpic {
    width: 3rem;
  }
}

@media only screen and (min-width: 46rem) {
  .contentCont {
    background-color: rgb(84, 84, 84);
    padding-bottom: 1rem;
  }
  .listCont {
    max-width: 50rem;
    margin: 0 auto;
    background: rgb(84, 84, 84);
    background-size: 100%;
    gap: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .addCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .addProduct {
    margin-top: 0;
    background: none;
    padding-left: 0.5rem;
    grid-column: 2/3;
  }
  .addbtnpic {
    width: 3rem;
    padding-top: 3.5rem;
    padding-left: 0.5rem;
  }
  .wcdDT {
    grid-column: 3/4;
  }
  .wcdDTPic {
    display: block;
    width: 16rem;
    margin: 0 auto;
    border-color: rgb(169, 167, 167);
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0rem 0.55rem 0.5rem 0 rgb(51, 42, 42);
  }
  .favsweets {
    width: 50%;
  }
  .introCont {
    width: 30rem;
    margin: 0 auto;
    padding: 2rem;
    color: rgb(251, 252, 252);
  }
  .intro {
    font-size: 1rem;
  }

  .listitem {
    background-color: white;
    margin: 0;
  }
  .cell {
    border: 0;
    max-width: 100vw;
  }

  .photoCont {
    padding-top: 0;
  }
  .photos {
    max-height: 12rem;
  }

  .cell .infoCont {
    display: none;
  }

  .cell:hover .infoCont {
    display: block;
    position: absolute;
    color: white;
    margin-top: -3.2rem;
    background-color: rgb(173, 48, 6);
    opacity: 0.8;
    width: 12rem;
    border-radius: 0 0.1rem 0.1rem 0;
    margin-left: 0;
  }
  .name {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
  }
  .country {
    font-size: 0.8rem;
    text-align: center;
  }
}
