li {
  list-style-type: none;
}
.listCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  gap: 1rem;
}
.cell {
  margin: 0.2rem;
  border: 0;
  border-bottom: 0.1rem rgb(4, 100, 100);

  border-style: solid;
  /* border-width: 0.1rem;
  border-color: rgb(238, 238, 238); */
  /* border-radius: 0 0 1rem 0; */
  /* box-shadow: 0 0.25rem 0.5rem 0 gray; */
}
.infoCont {
  display: grid;
  grid-template-rows: 2fr 1fr;
  margin: 0.5rem;
  align-self: right;
  gap: 0.2rem;
  /* border-style: solid;
  border-width: 0.1rem;
  border-color: black; */
  justify-self: center;
}
.photoCont {
  /* grid-row-start: 1;
  grid-row-end: 4; */
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}
.photos {
  width: 5rem;
  height: 4rem;
  /* grid-row-end: 4; */
  text-align: center;
}
.name {
  font-size: 0.8rem;

  font-weight: bold;
  grid-column-start: 1;
}
.price {
  font-size: 0.8rem;
  grid-column-start: 2;
  justify-self: right;
}
.country {
  font-size: 0.8rem;
  grid-column-start: 1;
}
