.dropCont {
  padding: 0.3rem 0.2rem 0 0.2rem;
}
.select {
  background-color: #545454;
  color: #fff;
  border-radius: 0.2rem;
  border-width: 0.2rem;
}
.label {
  color: #545454;
  padding-right: 0.1rem;
}
@media (min-width: 40rem) {
  .label {
    color: #fff;
    font-size: 1rem;
    padding-right: 1rem;
  }
  .dropCont {
    padding: 0;
    width: 70rem;
    margin: 0 auto;
  }
  .select {
    font-size: 1rem;
    padding-left: 1rem;
  }
}
