.footer {
  width: 100%;
  background: rgb(84, 84, 84);
  height: 2rem;
}
.footerNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1rem;
  background-color: rgb(84, 84, 84);
  text-align: center;
  padding: 0;
  padding-top: 0.2rem;
}
.footerTitle {
  text-align: center;
  text-decoration: none;
  color: white;
}
.email {
  text-align: center;
  text-decoration: none;
  color: white;
}
.thanksCont {
  grid-column-start: 1;
  grid-column-end: -1;
}
.thanks {
  text-align: center;
  color: white;
}
.ghicon {
  width: 2.5rem;
  padding: 0.2rem;
}
.linkdinIcon {
  width: 2.5rem;
  padding: 0.2rem;
}
