.header {
  padding-bottom: 0.2rem;
}
.headerCont {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 5fr;
  background-color: white;
}

.logo {
  padding-left: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}
.logopic {
  width: 3rem;
}
.email {
  height: 2rem;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
  align-self: center;
  padding-top: 0.3rem;
  padding-right: 0.5rem;
}
.emailPic {
  width: 1.5rem;
}
.grtophalf {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
}
.greenTop {
  height: 42vh;
  width: 100vw;
}
.wcdCont {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: -0.8rem;
}
.wcdpic {
  width: 100vw;
  height: 42vh;
  border-bottom: 0.45rem;
  border-bottom-style: solid;
  border-color: white;
}

@media only screen and (min-width: 25rem) {
  .headerCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 6rem;
    padding-bottom: 0;
  }
  .logo {
    padding-left: 0.4rem;
    padding-top: 0.6rem;
  }
  .logopic {
    width: 3.5rem;
    padding: 0.5rem;
  }
  .email {
    padding-top: 0;
    padding-right: 2rem;
  }
  .emailPic {
    width: 2rem;
  }

  .greenTop {
    display: none;
  }

  .wcdpic {
    display: none;
  }
}
@media only screen and (min-width: 46rem) {
  .headerCont {
    display: grid;
    grid-template-rows: 1fr;
    height: 2.5rem;
  }
  .logo {
    padding-left: 0.4rem;
    padding-top: 0.1rem;
  }
  .logopic {
    width: 2.5rem;
    /* padding: 0.5rem; */
  }
  .email {
    padding-top: 0;
    padding-right: 1rem;
  }
  .emailPic {
    width: 1.5rem;
  }
}
