header {
  position: sticky;
  max-width: 100%;
}
.headerCont {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  box-shadow: 0 0.3rem 0.3rem 0 rgb(181, 180, 180);
}

.link {
  text-align: center;
  text-decoration: none;
  color: white;
}
.logo {
  padding-left: 0.2rem;
  padding-top: 0.3rem;
}
.logopic {
  width: 3rem;
  align-self: center;
}
.login {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: right;
  padding-top: 0.3rem;
  align-self: center;
  padding-right: 0.5rem;
}
.loginimg {
  width: 1.3rem;
}
