.popup {
  position: fixed;
  top: 7rem;
  left: 2rem;
  width: 80%;
  font-size: 0.8rem;
  /* height: 50vh; */
  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0 rgb(115, 113, 113);
  color: white;
  border: white 0.1rem solid;
}
.inner {
  width: 100%;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.btn {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  font-size: 0.5rem;
  max-width: 1rem;
}
@media only screen and (max-width: 940px) and (orientation: landscape) {
  .popup {
    position: fixed;
    top: 0.5rem;
    left: 3.5rem;
    width: 80%;
    height: 85vh;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }

  .btn {
    top: 1.5rem;
    max-width: 1.2rem;
  }
}
@media only screen and (min-width: 46rem) {
  .popup {
    left: 3rem;
    top: 1.5rem;
  }
}
