.listCont1 {
  padding: 0;
}
.prodlogo {
  background: rgb(84, 84, 84);
  box-shadow: 0rem 0.25rem 0.5rem 0 rgb(115, 113, 113);
  height: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.prodlogopic {
  padding-top: 0.2rem;
  height: 2rem;
  padding-left: 0.5rem;
}
.photoCont {
  text-align: center;
}
.photos {
  width: 70vw;
}
.infoCont {
  text-align: center;
  color: rgb(30, 29, 29);
}
.name {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.price {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
.prodUpdateBtn {
  text-align: right;
  padding-right: 1.5rem;
}
.visitbtn {
  margin-top: 0.5rem;
  width: 8rem;
  font-size: 1.1rem;
  padding: 0.3rem;
  background-color: rgb(84, 84, 84);
  border-style: solid;
  box-shadow: 0 0.3rem 0.3rem 0 rgb(43, 40, 40);
  border-width: 0.07rem;
  border-color: white;
  border-radius: 0.2rem;
  color: white;
}
.bottonCont {
  padding-top: 3.5rem;
  display: grid;
  grid-template-columns: 1fr;
}
.prodUpdateBtnCont {
  text-align: center;
}
.updatebtn {
  background-color: rgb(84, 84, 84);
  border-radius: 0.1rem;
  border: none;
  width: 4rem;
  color: white;
  text-align: center;
  padding: 0.2rem;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}
.delbtn {
  text-align: center;
}
.deletebutton {
  width: 4rem;
  background-color: rgb(186, 16, 16);
  color: rgb(248, 245, 245);
  border-radius: 0.1rem;
  border: none;
  text-align: center;
  padding: 0.2rem;
  font-size: 0.8rem;
}

.backbtn {
  width: 3rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
  position: fixed;
  bottom: 0;
}

/* POPUP */
.updatetxt {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 0.5rem;
  text-align: left;
}
.formlabel {
  margin: 0;
  padding: 0.3rem;
}
.prodinput {
  width: 80%;
}
.submitbtn {
  background-color: rgb(84, 84, 84);
  border-style: solid;
  border-color: white;
  border-width: 0.1rem;
  box-shadow: 0 0.3rem 0.3rem 0 rgb(43, 40, 40);
  color: white;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin-top: 1rem;
}
