.listCont1 {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}
.prodlogo {
  background: rgb(84, 84, 84);
  /* box-shadow: 0rem 0.25rem 0.5rem 0 rgb(115, 113, 113); */
  height: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.prodlogopic {
  padding-top: 0.2rem;
  height: 2rem;
  padding-left: 0.5rem;
}
.photoCont {
  text-align: center;
  padding-top: 1rem;
  width: 50vw;
  margin: 0 auto;
}
.photos {
  width: 50vw;
}
.infoCont {
  text-align: center;
  color: rgb(30, 29, 29);
}
.name {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.price {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.country {
  padding-bottom: 1rem;
}
.biz_description {
  width: 80%;
  text-align: left;
  margin: 0 auto;
  font-size: 0.8rem;
}
.prodUpdateBtn {
  text-align: right;
  padding-right: 1.5rem;
}
.visitbtn {
  margin-top: 0.5rem;
  /* width: 4rem; */
  font-size: 0.6rem;
  padding: 0.2rem;
  background-color: rgb(84, 84, 84);
  border-style: solid;
  /* box-shadow: 0 0.3rem 0.3rem 0 rgb(43, 40, 40); */
  border-width: 0.07rem;
  border-color: white;
  border-radius: 0.1rem;
  color: white;
}
.bottonCont {
  padding-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: 0 auto;
}
.prodUpdateBtnCont {
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
}
.updatebtn {
  background-color: rgb(84, 84, 84);
  border-radius: 0.1rem;
  border: none;
  width: 4rem;
  color: white;
  text-align: center;
  padding: 0.2rem;
  font-size: 0.6rem;
  margin-bottom: 1.5rem;
}
.delbtn {
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
}
.deletebutton {
  width: 4rem;
  background-color: rgb(186, 16, 16);
  color: rgb(248, 245, 245);
  border-radius: 0.1rem;
  border: none;
  text-align: center;
  padding: 0.1rem;
  font-size: 0.6rem;
}

.backbtn {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 1.5rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  /* position: fixed;
  bottom: 0; */
}

/* POPUP */
.popupCont {
  display: block;
  margin: 0 auto;
}
.updatetxt {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 0.5rem;
  text-align: left;
}
.formlabel {
  margin: 0;
  padding: 0.3rem;
}
.prodinput {
  width: 80%;
}
.submitbtn {
  background-color: white;
  border: none;
  color: rgb(60, 60, 60);
  border-radius: 0.2rem;
  font-size: 0.8rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 940px) and (orientation: landscape) {
  /* .prodCont {
    display: grid;
    grid-template-columns: 1fr;
  } */
  .cell {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .photoCont {
    grid-column: 1/2;
  }
  .infoCont {
    grid-column: 2/3;
    padding-top: 1rem;
  }
  .name {
    grid-column: 2/3;
  }
  .photos {
    text-align: center;
    padding-top: 0;
    width: 40vw;
    margin: 0 auto;
  }
  /* POPUP */
  .updatetxt {
    display: none;
  }
}

@media only screen and (min-width: 46rem) {
  .prodCont {
    /* background-color: rgb(84, 111, 111); */
    /* height: 100vh; */
    padding: 5rem 0;
  }
  .listCont1 {
    width: 70%;
    background-color: white;
    padding-top: 3rem;
  }
  .listCont1 li {
    list-style: none;
  }
  .photos {
    width: 50%;
  }

  .photoCont {
    text-align: center;
    padding-top: 1rem;
    width: 50vw;
    margin: 0 auto;
  }
  .photoCont {
    background-color: white;
  }
  .photos {
    width: 30vw;
  }

  .popupCont {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}
